/* Updates to RDS src/styles/spacing.css */
/* .cu-column + .cu-column,
.cu-column + .cu-panel,
.cu-panel + .cu-column {
  @apply mt-5 md:mt-10;
} */

/* This will be added with new nav component, no need to add to RDS now */
.cu-nav {
  @apply mx-auto max-w-screen-2xl;
}

/* Need to add class to stackedlist when used with offset prop */
/* .cu-stackedlist + * {
  @apply mt-1;
} */
